<app-base-modal
  [isEditing]="isEditing"
  createTitle="Create Exercise"
  editTitle="Edit Exercise"
  (cancel)="onCancel()">
  
  <form (ngSubmit)="onSubmit()" #exerciseForm="ngForm">
    <app-form-field
      label="Name"
      id="name"
      icon="bi-tag">
      <input 
        type="text" 
        class="form-control" 
        id="name" 
        [(ngModel)]="exercise.name" 
        name="name" 
        required
        maxlength="100"
        placeholder="Enter exercise name"
        #name="ngModel">
      <div error class="text-danger mt-1" *ngIf="name.invalid && (name.dirty || name.touched)">
        <small *ngIf="name.errors?.['required']">Name is required</small>
        <small *ngIf="name.errors?.['maxlength']">Name cannot exceed 100 characters</small>
      </div>
    </app-form-field>

    <app-form-field
      label="Description"
      id="description"
      icon="bi-card-text">
      <textarea 
        class="form-control" 
        id="description" 
        [(ngModel)]="exercise.description" 
        name="description" 
        rows="3"
        maxlength="500"
        placeholder="Enter exercise description"
        #description="ngModel"></textarea>
      <div error class="text-danger mt-1" *ngIf="description.invalid && (description.dirty || description.touched)">
        <small *ngIf="description.errors?.['maxlength']">Description cannot exceed 500 characters</small>
      </div>
    </app-form-field>

    <app-form-field
      label="Body Part"
      id="bodyPart"
      icon="bi-person-arms-up">
      <select 
        class="form-select" 
        id="bodyPart" 
        [(ngModel)]="selectedBodyPartId" 
        name="bodyPart" 
        required
        #bodypart="ngModel">
        <option value="">Select a body part</option>
        <option *ngFor="let part of bodyParts" [value]="part.id">
          {{ part.name }}
        </option>
      </select>
      <div error class="text-danger mt-1" *ngIf="bodypart.invalid && (bodypart.dirty || bodypart.touched)">
        <small *ngIf="bodypart.errors?.['required']">Body part is required</small>
      </div>
    </app-form-field>

    <app-modal-footer
      [isEditing]="isEditing"
      [disabled]="!exerciseForm.valid"
      (cancel)="onCancel()">
    </app-modal-footer>
  </form>
</app-base-modal>
