<app-base-modal [isEditing]="isEditing"
                createTitle="Create Workout Day"
                editTitle="Edit Workout Day"
                (cancel)="onCancel()">
  <form #workoutDayForm="ngForm" (ngSubmit)="onSubmit()">
    <app-form-field label="Name"
                    id="name"
                    icon="bi-tag">
      <input type="text"
             class="form-control"
             id="name"
             [(ngModel)]="workoutDay.name"
             name="name"
             required
             maxlength="100"
             placeholder="Enter workout day name"
             #name="ngModel">
      <div error class="text-danger mt-1" *ngIf="name.invalid && (name.dirty || name.touched)">
        <small *ngIf="name.errors?.['required']">Name is required</small>
        <small *ngIf="name.errors?.['maxlength']">Name cannot exceed 100 characters</small>
      </div>
    </app-form-field>
    <app-form-field label="Description"
                    id="description"
                    icon="bi-card-text">
      <textarea class="form-control"
                id="description"
                [(ngModel)]="workoutDay.description"
                name="description"
                rows="3"
                maxlength="500"
                placeholder="Enter workout day description"
                #description="ngModel"></textarea>
      <div error class="text-danger mt-1" *ngIf="description.invalid && (description.dirty || description.touched)">
        <small *ngIf="description.errors?.['maxlength']">Description cannot exceed 500 characters</small>
      </div>
    </app-form-field>
    <app-modal-footer [isEditing]="isEditing"
                      [disabled]="!workoutDayForm.valid"
                      (cancel)="onCancel()">
    </app-modal-footer>
  </form>
</app-base-modal>
